.ContractListItem {
    min-width: 450px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
}

.ContractListItem:last-of-type {
    border-bottom: none;
}


.ContractListItem .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ContractListItem .left {
    flex-grow: 1;
}

.ContractListItem .right {
    align-items: flex-end;
}

.ContractListItem .title {
    font-weight: 600;
    font-size: 16px;
}

.ContractListItem .address {
    font-size: 12px;
}

.Contract-Status {
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
}

.Contract-Status.status--1 {
    color: #ad0a0a;
}

.Contract-Status.status-0 {
    color: #5e5e5e;
}

.Contract-Status.status-1 {
    color: #0c8c00;
}