.ContactEditor {
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ContactEditor .Contacts {
    text-align: center;
    padding: 7px 10px;
    /* min-width: 240px; */
    /* max-width: calc(100% - 60px); */
    width: 270px;
    margin-bottom: 13px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.13s ease-out, transform 0.13s ease-out;
}

.ContactEditor .Contacts .title {
    margin: 3px;
    font-size: 1.2em;
    /* font-weight: bold; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.ContactEditor .Contacts .list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    max-height: 300px;
    overflow-y: auto;
}

.ContactEditor .Contacts .actions {
    text-align: right;
    padding: 5px 3px 3px;
}

.ContactEditor .Contacts.hidden {
    pointer-events: none;
    transform: translateY(4px);
    opacity: 0;
}

.ContactView {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    align-items: center;
}

.ContactView.clickable {
    cursor: pointer;
}

.ContactView .pic {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    font-size: 18px;
    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}

.ContactView .pic.selected {
    border: 1px solid rgba(3, 80, 0, 0.568);
    background-color: rgb(193, 255, 196);
    color: rgba(3, 80, 0, 0.568);
}

.ContactView .details {
    padding: 0 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
}

.ContactView .details .address {
    width: 100%;
    font-size: 9px;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    text-align: left;
}

.ContactView .details .name {
    font-weight: bold;
    margin-bottom: -4px;
}

.ContactView .actions .ant-btn {
    padding: 0 4px;
    margin-right: 4px;
}

.ContactView .actions .anticon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContactView .actions {
    display: none;
}

.ContactView:hover .actions {
    display: block;
}